
.top-container{
    background-color: #F3D7C4;
    position: fixed;
    padding: 110px;
   width: 800px;
}

.middle-container{
    background-color: #F3D7C4;
    position: relative;
    padding: 110px;
}
