
.top-container{
    background-color: #F3D7C4;
    position: relative;
    padding: 110px;
   max-width: 600px;
}

.middle-container{
    background-color: #F3D7C4;
    position: relative;
    padding: 110px;
}

.header {
  background-color: #f1f1f1;
  padding: 20px;
  text-align: center;
}

