body {
  font-family: 'Raleway', sans-serif;
}


#banner {
  background-size: cover;
  background-position: bottom center;
  height: 700px;
  width: 70%; 
}



h1 {
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  font-family: "Times New Roman"
}

h2 {
  text-align: center;
}

.p1 {
   font-family: "Times New Roman", serif;
}

.l1 {
   font-family: "Times New Roman", Times, serif;
}
  
  .top-container{
    background-color: #E0FFFF;
    position: relative;
    left: 100px;
    padding: 90px;
     width: 70%;
}

.middle-container {
  font-size: 4.5
    font-family: "Times New Roman", Times, serif;

.footer {
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
     padding: 50px 0 20px;  
