
h1 {
  font-size: 50px;
  font-weight: 600;
  text-align: center;
}

h2 {
  text-align: center;
}

.p1 {
  font-family: "Times New Roman", Times, serif;
}

.l1 {
   font-family: "Times New Roman", Times, serif;
}
  
  .top-container{
    background-color: #E4F9F5;
    background-position: center;
    margin: 0 auto;
    position: relative;
    padding: 90px;
     width: 80%;
}

.middle-container {
  font-size: 4.5
    font-family: "Times New Roman", Times, serif;
   margin: auto;
}

.footer {
  background-color: #bdcebe;
  padding: 10px;
  text-align: center;
     padding: 50px 0 20px;  
}


.Container{
margin-top: 10%
  font-family: "Times New Roman", Times, serif;
  
}
