body {
  background-color: "#bdcebe";
}

h1{
   color: #588c7e;
}






#banner {
  background-image: url("https://srishtiim.github.io/sustainability/sustaes.jpg");
  background-size: cover;
  width: 100%;
}
