 .services-container {
            margin: 0 auto;
            color: #e0e2db;
            background: url(
https://srishtiim.github.io/sustainability//hm.jpeg);
            height: 100%; 
  width: 100%
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
   
        }
  
        .service-item {
         height: 100%; 
  width: 100%
            overflow: hidden;
            position: relative;
            padding: 80px;
        }
  
        .service-item-black {
            background: linear-gradient(
                rgba(0, 0, 0, 0.7), 
                rgba(0, 0, 0, 0.7)
            );
        }
  
        .front-text {
            text-align: center;
            transition: transform 2s;
        }
  
        .back-text {
            position: absolute;
            bottom: -15em;
            width: 75%;
            margin: 0 auto;
            height: 100%;
            transition: bottom 2s;
            padding: 15px 0;
        }
  
        .back-text h1 {
            margin-bottom: 20px;
        }
  
        .back-text button {
            margin-top: 20px;
            padding: 10px 20px;
            background: transparent;
            border: 2px solid 	#CD5C5C;
            font-size: 20px;
            color:	#CD5C5C;
        }
  
        .back-text button:hover {
            background-color: #30804b;
            color: #191716;
        }
  
        .service-item:hover .front-text {
            transform: translateY(-200px);
        }
  
        .service-item:hover .back-text {
            bottom: 0;
        }

      .p1 {
   font-family: "Times New Roman", serif;

      }

h1 {
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  font-family: "Times New Roman"
}

